@page
@model candyshop.Pages.Candy.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.candies[0].CSflavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candies[0].Corigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candies[0].Cwrapper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candies[0].Candyshop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.candies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CSflavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cwrapper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candyshop.CSID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
